name: Update Docker Hub Readme
on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - '.github/workflows/update-docker-readme.yml'
  workflow_dispatch:

jobs:
  update-docker-readme:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.2.1

    - name: Update Docker Hub Readme (buanet)
      uses: peter-evans/dockerhub-description@v4.0.0
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASS }}
        repository: buanet/iobroker
        short-description: Official Docker image for ioBroker based on Debian Bullseye slim 
        readme-filepath: ./docs/README_docker_hub_buanet.md

    - name: Update Docker Hub Readme (iobroker)
      uses: peter-evans/dockerhub-description@v4.0.0
      with:
        username: ${{ secrets.DOCKER_USER_IOB }}
        password: ${{ secrets.DOCKER_PASS_IOB }}
        repository: iobroker/iobroker
        short-description: Official Docker image for ioBroker based on Debian Bullseye slim
        readme-filepath: ./docs/README_docker_hub_iobroker.md