name: Version Checks

on:
  schedule:
    - cron: '42 23 * * *'
  workflow_dispatch:

jobs:
  check-and-trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6.0.1
        with:
          repository: 'buanet/ioBroker.docker'
          token: ${{ secrets.ACTIONS_PAT }}

      - name: Docker baseimage check
        id: baseimage-check
        uses: lucacome/docker-image-update-checker@v3.0.1
        with:
          base-image: debian:bookworm-slim
          image: buanet/iobroker:latest

      - name: Fetch ioBroker and nodejs versions
        run: |
          curl -sL https://download.iobroker.net/sources-dist.json | \
          jq -r '."js-controller".version' > .github/dependencies/.js-controller-version
          echo "[LOG] Fetched js-controller version is $(cat .github/dependencies/.js-controller-version)"
          curl -sL https://download.iobroker.net/sources-dist.json | \
          jq -r '."admin".version' > .github/dependencies/.admin-version
          echo "[LOG] Fetched admin version is $(cat .github/dependencies/.admin-version)"
          curl -sL https://download.iobroker.net/sources-dist.json | \
          jq -r '."backitup".version' > .github/dependencies/.backitup-version
          echo "[LOG] Fetched backitup version is $(cat .github/dependencies/.backitup-version)"
          curl -sL https://download.iobroker.net/sources-dist.json | \
          jq -r '."discovery".version' > .github/dependencies/.discovery-version
          echo "[LOG] Fetched discovery version is $(cat .github/dependencies/.discovery-version)"
          curl -sL https://nodejs.org/dist/index.json | \
          jq -r 'map(select(.version | startswith("v22."))) | .[0].version' > .github/dependencies/.nodejs-version
          echo "[LOG] Fetched nodejs version is $(cat .github/dependencies/.nodejs-version)"

      - name: Check for modified files
        id: git-check
        run: echo "modified=$([ -z "`git status --porcelain`" ] && echo "false" || echo "true")" >> $GITHUB_OUTPUT

      - name: Commit latest release version
        if: steps.git-check.outputs.modified == 'true'
        run: |
          git config --global user.name 'buanet'
          git config --global user.email 'info@buanet.de'
          git commit -am "new ioBroker versions"
          git push

      - name: Logging result
        run: |
          echo "base image updated = ${{ steps.baseimage-check.outputs.needs-updating }}"
          echo "ioBroker version updated = ${{ steps.git-check.outputs.modified }}"

      - name: Trigger Build Debian 12 Image (latest)
        if: steps.baseimage-check.outputs.needs-updating == 'true' || steps.git-check.outputs.modified == 'true'
        uses: benc-uk/workflow-dispatch@v1.2
        with:
          ref: 'main'
          workflow: 'Build Debian 12 Image (latest)'
          repo: 'buanet/iobroker.docker'
          token: ${{ secrets.ACTIONS_PAT }}
